html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font: 16px Arial, sans-serif;
  color: #505050;
  max-width: 700px;
  margin: 0 auto;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}


a:active,
a:hover {
  outline-width: 0;
}

blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee;
}

hr {
	border: none;
	height: 1px;
	margin: 40px auto;
	background: #eee;
	width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  max-width: 100%;
  max-height: 380px;
}

section {
  padding: 40px 0;
}

article {
  font: 400 18px "Lora", Georgia, serif;
  line-height: 1.8em;
  color: #505050;
}

article h1 {
  color: #2b2b2b;
  font: 3.2rem "Droid Sans", sans-serif;
}

article h2 {
  color: #2b2b2b;
  font: 2.6rem "Droid Sans", sans-serif;
}

article h3 {
  color: #2b2b2b;
  font: 2.2rem "Droid Sans", sans-serif;
}

article h4 {
  color: #2b2b2b;
  font: 1.8rem "Droid Sans", sans-serif;
}

article p {
  padding-bottom: 20px;
  letter-spacing: 0.4px;
}

article img {
  max-width: 100%;
}

code {
 
  display: block;
  overflow-y: scroll;
  max-width: 700px;
  background: #eee;
  padding: 1em;
	font-family: "Consolas", Liberation Mono, Menlo, Courier, monospace;
	font-size: 13px;
	line-height: 20px;
	border-radius: 2px;
	border-radius: 2px;
}

@media screen and (max-width: 500px) {
  nav {
    text-align: left;
  }

  iframe {
    height: 200px;
  }

  body {
    padding: 1em;
  }
}
